.navul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
  
.navli {

    float: left;

}

.navlia {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navlia:hover {

    background-color: #111;

}



body {

    background-color: #ffffff;
    color: #333333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

}

p {

    color: #333333;
    line-height: 1.5;
    margin-bottom: 15px;

}

h1 {

    color: #333333;

}

a {

    color: #3498db;
    text-decoration: none;

}

a:hover {

    text-decoration: underline;

}

.container {

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

.button {

    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.button:hover {

    background-color: #2980b9;

}
  
.flexcontainer {

    display: flex;
    flex-direction: column;
    background-color: #edf1a2;

}

.flexcontainer > div{
    
    background-color: #a2f1ec;
    width: 70%;
    margin: 1%;
    text-align: left;

}

.text{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    text-align: left;

}

.likes-section,
.comments-section {
    margin-top: 10px;
}

textarea {
    width: 100%;
    margin-top: 10px;
}


@media only screen and (max-width: 768px){

    body {
        background-color: #ffffff;
        color: #333333;
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 100%; 
        padding: 20px;
        box-sizing: border-box; 
        margin: 0 auto;
    }

    .button {
        background-color: #3498db;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button:hover {
        background-color: #2980b9;
    }
    .flexcontainer {
        display: flex;
        flex-direction: column;
        background-color: #edf1a2;
    }

    .flexcontainer > div {
        background-color: #a2f1ec;
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box; 
    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 120%; 
        text-align: left;
    }

    .likes-section,
    .comments-section,
    textarea {
        width: 100%; 
        margin-top: 10px; 
    }


}